* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

#secondA{
    font-family: sans-serif;
    height: 100%;
    width: cover;
    padding: 20px;
    background-color:#0d1b2a;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    row-gap: 5px;
}
#secondB{
    display: flex;
}

a{
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
    border: none;
    font-size: 22px;
    text-decoration: none;
}

a:hover{
    font-size:26px;
    color: orange;

}

#pages-div{
    display:flex;
    justify-content: space-around;
}

input{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    border: none;
    border-radius: 8px;
}

#first {
    text-align: center;
    font-size: 20px;
    background-color: azure;
}

p{
    text-align: center;
    font-size: 20px;
}

#first1 {
    padding: 15px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
     background: linear-gradient(rgb(79, 142, 226), rgb(0, 0, 255, 0.953));
    color: #ffffff;
}

#about {
    display: flex;
    column-gap: 40px;
    justify-content: center;
    font-size: 25px;
    flex-wrap: wrap;
}

#ab {
    display: flex;
    column-gap: 40px;
    justify-content: center;
    font-size: 25px;
    flex-wrap: wrap;
}

#about2 {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #0d1b2a;
    color: white;
    flex-wrap: wrap;
    padding-left: 10px;
    border: 0.3px solid orange;
    border-radius: 15px;

}
#list{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px;
}
#list1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 18px;
}

#list2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 18px;
}
