*{
    margin: 0%;
    padding: 0%;
}
#first{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
    background: linear-gradient(black, #0a0f2c);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
    font-family: sans-serif;
}
#first1{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    row-gap: 2px;
}

#second{
    font-family: sans-serif;
    height: 100%;
    width: cover;
    padding: 20px;
    background-color:#0d1b2a;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    row-gap: 5px;
}
#second1{
    display: flex;
}

a{
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
    border: none;
    font-size: 22px;
    text-decoration: none;
}

a:hover{
    font-size:26px;
    color: orange;

}

#pages-div{
    display:flex;
    justify-content: space-around;
}

input{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    border: none;
    border-radius: 8px;
}

#image{
    width: 100%;
}

#third{
    margin-top: 0%;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    align-items: center;
    background: linear-gradient(rgb(79, 142, 226), rgb(0, 0, 255, 0.953));
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 10px;
    text-align: center;

}

#third1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    column-gap: 5px;
    color: whitesmoke;
    justify-content: center;
    margin: 10px;

}

#fourth{
    height: 70px;
    font-size: 30px;
     background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

#paragraph{
     font-size: 18px;
     display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: gray;
}

#Mission{
    font-size:30px;
    color: darkblue;
     display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

#fifth{
     display: flex;
    flex-wrap: wrap;
     row-gap: 10px;
    align-items: center;
    justify-content: space-around;
}

#fifth1{
    height: 260px;
    width: 320px;
     border: 0.3px solid orange;
     border-radius: 15px;
     padding-top: 20px;
    row-gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 4px orange;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;

}

#fifth1:hover{
    border: 1px solid #bbb;
     height: 265px;
    width: 325px;
}

#in{
    border: 2px;
    border-radius: 15px;
    height: 22px;
    width: 90px;
    align-items: center;
    padding-top: 5px;
    padding-left: 18px;
    background-color: lightpink;
    color: red;
}

#us{
    border: 2px;
    border-radius: 15px;
    height: 22px;
    width: 150px;
    align-items: center;
    padding-top: 5px;
    padding-left: 14px;
    background-color: lightpink;
    color: red;
}

#Hollywood{
    border: 2px;
    border-radius: 15px;
    height: 22px;
    width: 140px;
    align-items: center;
    padding-top: 5px;
    padding-left: 14px;
    background-color: lightpink;
    color: red;
}

#effect{
    font-size:30px;
    color: darkblue;
     display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

#sixth{
    column-gap: 1px;
    display: flex;
    flex-wrap: wrap;
     row-gap: 10px;
    align-items: center;
    justify-content: space-around;
}

#sixth1{
    height: 170px;
    width: 550px;
     border: 0.3px solid orange;
     border-radius: 15px;
     padding: 20px;
    row-gap: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 4px orange;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
}

#sixth1:hover{
    border: 1px solid #bbb;
     height: 180px;
    width: 560px;
}

#seventh{
    column-gap: 1px;
    display: flex;
    flex-wrap: wrap;
     row-gap: 10px;
    align-items: center;
    justify-content: space-around;
}

#seventh1{
    height: 170px;
    width: 550px;
     border: 0.3px solid orange;
     border-radius: 15px;
     padding: 20px;
    row-gap: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 4px orange;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
}

#seventh1:hover{
    border: 1px solid #bbb;
     height: 180px;
    width: 560px;
}

#eighth{
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #0a0f2c;
}

#eighth{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

#links{
    font-family: sans-serif;
    padding-top: 20px;
    background-color: #0d1b2a;
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

#links1{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#links1 a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

