*{
    margin: 0%;
    padding: 0%;
}
#secondA{
    font-family: sans-serif;
    height: 100%;
    width: cover;
    padding: 20px;
    background-color:#0d1b2a;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    row-gap: 5px;
}
#secondB{
    display: flex;
}

a{
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
    border: none;
    font-size: 22px;
    text-decoration: none;
}

a:hover{
    font-size:26px;
    color: orange;

}

#pages-div{
    display:flex;
    justify-content: space-around;
}

input{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    border: none;
    border-radius: 8px;
}

#second {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 20px;

}



.time-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;

}

.year {
    flex-wrap: wrap;
    background: linear-gradient(135, #1e3a8a, #3b82f6);
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
    min-width: 80px;
    background-color: #3b82f6;

}

#timeline{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.time {
    flex-wrap: wrap;
    background: #fff;
    padding: 20px;
    margin: 2px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    flex: 1;

}

.time {
    flex-wrap: wrap;
    margin: 8px;
    font-size: 20px;
    color: #222;

}

.time {
    flex-wrap: wrap;
    margin: 8px;
    color: #555;
    line-height: 1.5;

}

#footer1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
}

#footer {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}

#footer1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

#footer1 span {
    background: white;

    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
}

#footer1 span:hover {
    background: #00bfff;
    color: white;
    transform: translateY(-3px);
}